# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [64]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [65]:
conn = psycopg2.connect("host=localhost dbname=sparkifydb user=postgres password=password")
cur = conn.cursor()

In [66]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [67]:
song_files = get_files(r'C:\Users\Usuario\Downloads\Project\data\song_data')
song_files

['C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAABD128F429CF47.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAADZ128F9348C2E.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAEF128F4273421.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAFD128F92F423A.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAMO128F1481E7F.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAMQ128F1460CD3.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAPK128E0786D96.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAARJ128F9320760.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAVG12903CFA543.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\A\\TRAAAVO128F93133D4.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABCL128F4286650.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABDL12903CAABBA.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABJL12903CDCF1A.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABJV128F1460C49.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABLR128F423B7E3.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABNV128F425CEE1.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABRB128F9306DD5.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABVM128F92CA9DC.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABXG128F9318EBD.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABYN12903CFD305.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\B\\TRAABYW128F4244559.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACCG128F92E8A55.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACER128F4290F96.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACFV128F935E50B.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACHN128F1489601.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACIW12903CC0F6D.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACLV128F427E123.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACNS128F14A2DF5.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACOW128F933E35F.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACPE128F421C1B9.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACQT128F9331780.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACSL128F93462F4.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACTB12903CAAF15.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACVS128E078BE39.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\A\\C\\TRAACZK128F4243829.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABACN128F425B784.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAFJ128F42AF24E.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAFP128F931E9A1.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAIO128F42938F9.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABATO128F42627E9.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAVQ12903CBF7E0.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAWW128F4250A31.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAXL128F424FC50.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAXR128F426515F.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAXV128F92F6AE3.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\A\\TRABAZH128F930419A.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBAM128F429D223.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBBV128F42967D7.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBJE12903CDB442.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBKX128F4285205.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBLU128F93349CF.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBNP128F932546F.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBOP128F931B50D.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBOR128F4286200.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBTA128F933D304.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBVJ128F92F7EAA.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBXU128F92FEF48.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\B\\TRABBZN12903CD9297.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCAJ12903CDFCC2.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCEC128F426456E.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCEI128F424C983.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCFL128F149BB0D.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCIX128F4265903.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCKL128F423A778.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCPZ128F4275C32.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCRU128F423F449.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCTK128F934B224.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCUQ128E0783E2B.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCXB128F4286BD3.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCYE128F934CE1D.json']

In [68]:
filepath = song_files[70]
filepath

'C:\\Users\\Usuario\\Downloads\\Project\\data\\song_data\\A\\B\\C\\TRABCYE128F934CE1D.json'

In [69]:
df = pd.read_json(filepath, lines=True)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AREVWGE1187B9B890A,-13.442,-41.9952,Noci (BA),Bitter End,SOFCHDR12AB01866EF,Living Hell,282.43546,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [70]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0].tolist()
song_data

['SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', 0, 282.43546]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [71]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_songs         1 non-null      int64
 1   artist_id         1 non-null      object
 2   artist_latitude   1 non-null      float64
 3   artist_longitude  1 non-null      float64
 4   artist_location   1 non-null      object
 5   artist_name       1 non-null      object
 6   song_id           1 non-null      object
 7   title             1 non-null      object
 8   duration          1 non-null      float64
 9   year              1 non-null      int64
dtypes: float64(3), int64(2), object(5)
memory usage: 208.0+ bytes

In [73]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442, -41.9952]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [74]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [75]:
log_files = get_files(r'C:\Users\Usuario\Downloads\Project\data\log_data')
log_files

['C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-01-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-02-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-03-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-04-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-05-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-06-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-07-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-08-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-09-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-10-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-11-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-12-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-13-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-14-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-15-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-16-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-17-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-18-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-19-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-20-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-21-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-22-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-23-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-24-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-25-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-26-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-27-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-28-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-29-events.json',
 'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-30-events.json']

In [76]:
Filepath = log_files[0]
Filepath

'C:\\Users\\Usuario\\Downloads\\Project\\data\\log_data\\2018\\11\\2018-11-01-events.json'

In [77]:
df = pd.read_json(Filepath, lines=True)
df.head(7)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         11 non-null     object
 1   auth           15 non-null     object
 2   firstName      15 non-null     object
 3   gender         15 non-null     object
 4   itemInSession  15 non-null     int64
 5   lastName       15 non-null     object
 6   length         11 non-null     float64
 7   level          15 non-null     object
 8   location       15 non-null     object
 9   method         15 non-null     object
 10  page           15 non-null     object
 11  registration   15 non-null     int64
 12  sessionId      15 non-null     int64
 13  song           11 non-null     object
 14  status         15 non-null     int64
 15  ts             15 non-null     int64
 16  userAgent      15 non-null     object
 17  userId         15 non-null     int64
dtypes: float64(1), int64(6), object(11)
memory usage: 2.2+ KB

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [79]:
df = df.loc[df['page'] == 'NextSong']
df.head(2)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [80]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

2   2018-11-01 21:01:46.796
4   2018-11-01 21:05:52.796
5   2018-11-01 21:08:16.796
6   2018-11-01 21:11:13.796
7   2018-11-01 21:17:33.796
Name: ts, dtype: datetime64[ns]

In [81]:
time_data =[df.ts.values, t.dt.hour.values, t.dt.day.values, t.dt.weekofyear.values, t.dt.month.values, t.dt.year.values, t.dt.weekday.values]
column_labels =  ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']

C:\Users\Usuario\AppData\Local\Temp\ipykernel_2724\437625650.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  time_data =[df.ts.values, t.dt.hour.values, t.dt.day.values, t.dt.weekofyear.values, t.dt.month.values, t.dt.year.values, t.dt.weekday.values]

In [82]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df['start_time'] = pd.to_datetime(time_df['start_time'], unit='ms')
time_df.head()

               start_time  hour  day  week  month  year  weekday
0 2018-11-01 21:01:46.796    21    1    44     11  2018        3
1 2018-11-01 21:05:52.796    21    1    44     11  2018        3
2 2018-11-01 21:08:16.796    21    1    44     11  2018        3
3 2018-11-01 21:11:13.796    21    1    44     11  2018        3
4 2018-11-01 21:17:33.796    21    1    44     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [83]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [84]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df

    userId firstName lastName gender level
2        8    Kaylee  Summers      F  free
4        8    Kaylee  Summers      F  free
5        8    Kaylee  Summers      F  free
6        8    Kaylee  Summers      F  free
7        8    Kaylee  Summers      F  free
8        8    Kaylee  Summers      F  free
9        8    Kaylee  Summers      F  free
10      10    Sylvie     Cruz      F  free
12      26      Ryan    Smith      M  free
13      26      Ryan    Smith      M  free
14     101    Jayden      Fox      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [85]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [86]:
df['ts'] = pd.to_datetime(df['ts'], unit='ms')

In [88]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()

    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
    # insert songplay record
    songplay_data = [index+1, row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent]
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.